
bookmarks
saved-places
auto-save-list

manual-packages
elpa*

smex-items

recentf

projectile-bookmarks.eld
projectile.cache
*.pyc

# java lsp
workspace
eclipse.jdt.ls

# text snippets
speed-type

*.swp

.mypy_cache

# Cache directories
.cache/
eln-cache/

# Personal configuration files
custom.el
projects
tramp
transient/

# Debug and session files
.dap-breakpoints
.lsp-session-v1

.opencode

url
eshell
